{% extends "base.html" %}
{% load static %}

{% block title %}Home {% endblock %}

{% block styles %}
<link rel="stylesheet" href="{% static 'home/home.css' %}">

{% endblock %}

{% block content %}

<div id="carouselExampleCaptions" class="carousel slide" >
 
  <div class="container text-center">
    <div class="row align-items-start">
      <div class="col"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
  <div class="carousel-inner">
    {% for cat in category %}
    <div class="carousel-item active ">
      <img src="media/{{cat.category}}" class="d-block w-100" "  alt="..." >
      <div class="carousel-caption d-none d-md-block"style="font-weight: bold; font-size: 30px;">
        <h1>{{cat.name}}</h1>
        <p>{{cat.about}}</p>
      </div>
    </div> {% endfor %}   
  </div></div></div>
  
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>


 {% endblock %}

